
.theme-bg-black {
	background: #000;
	color: #fff;
}
.top-header a {
	color: #fff;
}
#main_nav ul li {
	margin: 0 1em;
	font-weight: 700;
}
#main_nav ul li a{
	color: #2E614D !important;
}
#navbarSupportedContent ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.5s, background-color 0.5s;
	margin: 0 auto;
}
#navbarSupportedContent ul li:hover .underline {
	background-color: #D11165;
	width: 100%;
}
#navbarSupportedContent ul li:active a {
	transition: none;
	color: rgba(209,17,101,0.76);
} 

#navbarSupportedContent ul li:active .underline {
	transition: none;
	background-color: rgba(209,17,101,0.76);
}

.bg-grey {
	background-color: #EBEBEB;
}
.p-6 {
    padding: 4rem!important;
}
.p-9 {
    padding: 6rem!important;
}
.section-heading {
	font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.3em;
}
.hr-divider {
	width: 25%;
	border-top: 2px solid rgba(235, 235, 235, 1);
}
.fs-20 {
	font-size: 1.5em;
}
.list-line-height li {
	line-height: 2.5em;
}
.list-line-height li a {
	text-decoration: none;
	color: inherit;
}
.btn-dark-green {
	background-color:#307a10;
	color: #fff;
	border: 1px solid #307a10;
	border-radius: 15px;
	padding: 1em;
}
.btn-book {
	background-color:#307a10;
	color: #fff;
	border: 1px solid #307a10;
	border-radius: 15px;
	padding: 5%;
	width: 100%;
}
.btn-home {
	background-color:#307a10;
	color: #fff;
	border: 1px solid #307a10;
	border-radius: 15px;
	padding: 2%;
	width: 50%;
	font-weight: bold;
	font-size: 15pt;
	margin-top: 2%;
	margin-left: 20%;
}
.btn-dark-green:hover {
	color: #fff;
}
.contact-container {
	padding: 5em;
	background-color: #2E614D;
	text-transform: uppercase;
}
.quick-links li {
	margin: 1em;
	padding: 1em 0;
}
.quick-links a {
	color: #fff;
	text-decoration: none;
}
.text-black {
	color: #000;
}
.grey-font {
	color: #CDCDCD;
}
.contact-btn {
	border: 1px solid #fff;
	padding: 1em;
	font-weight: 600;
}


/* media query */
@media only screen and (max-width: 767px) {
	.section-heading {
		font-family: Montserrat, sans-serif;
		font-size: 25px;
		font-weight: 100;
		letter-spacing: -1px;
		line-height: 1.3em;
	}
	.fs-20 {
		font-size: 1em;
	}
	.p-9 {
		padding: 1rem !important;
	}
}



#pricing-heading{
    
    text-align: center;
    color: #2E614D;
    background-color: white;
    border: none;
    
}

.btn-mygreen{
    color: white;
    background-color: #2E614D;
}
.btn-mygreen:hover{
    color: white;
}


/* Mobile Media Query */
@media only screen and (max-width: 768px) {
    table {
        padding: 0;
    }
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
    thead tr { 
		display: none;
	}
    td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important; 
	}
    td:before { 
		position: absolute;
		top: 1em;
		left: 1em;
		width: 45%; 
		white-space: nowrap;
	}
	td:nth-of-type(1):before { 
        content: "Sr.No."; 
        font-weight: bold;
    }
	td:nth-of-type(2):before { 
        content: "Position"; 
        font-weight: bold;
    }
	td:nth-of-type(3):before { 
        content: "Experience";
        font-weight: bold;
    }
	td:nth-of-type(4):before {
        content: "Location";
        font-weight: bold;
    }
	td:nth-of-type(5):before {
        content: "No. of Positions";
        font-weight: bold;
    }
    td:nth-of-type(6):before {
        content: "Apply";
        font-weight: bold;
    }
}